In [1]:
import pandas as pd
import csv
def txt_to_csv(filename):
    with open(filename + ".txt", 'r') as in_file:
        stripped = (line.strip() for line in in_file)
        lines = (line.split(",") for line in stripped if line)
        with open(filename + '.csv', 'w') as out_file:
            writer = csv.writer(out_file)
            writer.writerows(lines)
        

def change_date(df):
    new_col = []
    for index, data in enumerate(df['date']):
        _, data, _ = df['date'][index].split('"')
        new_col.append(data)
    df['date'] = new_col

In [2]:
txt_to_csv('datatraining')
txt_to_csv('datatest')
txt_to_csv('datatest2')
df = pd.read_csv("datatraining.csv")
df1 = pd.read_csv('datatest.csv')
df2 = pd.read_csv('datatest2.csv')

In [3]:
len(df)

8143

In [4]:
len(df1)

2665

In [5]:
len(df2)

9752

# First-step data preparation
- Coversion from txt to csv formats
- Removing double quotes from column names, indexes
- Revoming double quotes in 'date' values (only for datatraining and datatest2)
- conversion of index from string to int

Rename columns by removing double quotes

In [6]:
df = df.rename(columns = {'"date"': 'date', '"Temperature"': 'Temperature', '"Humidity"': 'Humidity' , '"Light"': 'Light', '"CO2"': 'CO2',
           '"HumidityRatio"': 'HumidityRatio', '"Occupancy"': 'Occupancy'})

df1 = df1.rename(columns = {'"date"': 'date', '"Temperature"': 'Temperature', '"Humidity"': 'Humidity' , '"Light"': 'Light', '"CO2"': 'CO2',
           '"HumidityRatio"': 'HumidityRatio', '"Occupancy"': 'Occupancy'})


df2 = df2.rename(columns = {'"date"': 'date', '"Temperature"': 'Temperature', '"Humidity"': 'Humidity' , '"Light"': 'Light', '"CO2"': 'CO2',
           '"HumidityRatio"': 'HumidityRatio', '"Occupancy"': 'Occupancy'})

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8143 entries, "1" to "8143"
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           8143 non-null   object
 1   Temperature    8143 non-null   float64
 2   Humidity       8143 non-null   float64
 3   Light          8143 non-null   float64
 4   CO2            8143 non-null   float64
 5   HumidityRatio  8143 non-null   float64
 6   Occupancy      8143 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 508.9+ KB

In [8]:
df['date']

"1"       "2015-02-04 17:51:00"
"2"       "2015-02-04 17:51:59"
"3"       "2015-02-04 17:53:00"
"4"       "2015-02-04 17:54:00"
"5"       "2015-02-04 17:55:00"
                  ...
"8139"    "2015-02-10 09:29:00"
"8140"    "2015-02-10 09:29:59"
"8141"    "2015-02-10 09:30:59"
"8142"    "2015-02-10 09:32:00"
"8143"    "2015-02-10 09:33:00"
Name: date, Length: 8143, dtype: object

Remove Double quotes from date

In [9]:
change_date(df)
change_date(df1)
#formato data di df2 è già senza le virgolette
#change_date(df2)

In [10]:
df['date']

"1"       2015-02-04 17:51:00
"2"       2015-02-04 17:51:59
"3"       2015-02-04 17:53:00
"4"       2015-02-04 17:54:00
"5"       2015-02-04 17:55:00
                 ...
"8139"    2015-02-10 09:29:00
"8140"    2015-02-10 09:29:59
"8141"    2015-02-10 09:30:59
"8142"    2015-02-10 09:32:00
"8143"    2015-02-10 09:33:00
Name: date, Length: 8143, dtype: object

In [11]:
df1['date']

"140"     2015-02-02 14:19:00
"141"     2015-02-02 14:19:59
"142"     2015-02-02 14:21:00
"143"     2015-02-02 14:22:00
"144"     2015-02-02 14:23:00
                 ...
"2800"    2015-02-04 10:38:59
"2801"    2015-02-04 10:40:00
"2802"    2015-02-04 10:40:59
"2803"    2015-02-04 10:41:59
"2804"    2015-02-04 10:43:00
Name: date, Length: 2665, dtype: object

In [12]:
df2['date']

"1"       2015-02-11 14:48:00
"2"       2015-02-11 14:49:00
"3"       2015-02-11 14:50:00
"4"       2015-02-11 14:51:00
"5"       2015-02-11 14:51:59
                 ...
"9748"    2015-02-18 09:15:00
"9749"    2015-02-18 09:16:00
"9750"    2015-02-18 09:16:59
"9751"    2015-02-18 09:17:59
"9752"    2015-02-18 09:19:00
Name: date, Length: 9752, dtype: object

In [13]:
#df.to_csv('datatraining.csv')
#df1.to_csv('datatest.csv')
#df2.to_csv('datatest2.csv')
# i file non hanno, nella colonna date, i secondi tutti a '00'

Remove doublue quotes from the index

In [14]:
df = pd.concat([df1, df, df2], axis = 0, ignore_index=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20560 entries, 0 to 20559
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           20560 non-null  object
 1   Temperature    20560 non-null  float64
 2   Humidity       20560 non-null  float64
 3   Light          20560 non-null  float64
 4   CO2            20560 non-null  float64
 5   HumidityRatio  20560 non-null  float64
 6   Occupancy      20560 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.1+ MB

## "Date" tranformation

Creation of new features from 'date'

In [16]:
df['date']

0        2015-02-02 14:19:00
1        2015-02-02 14:19:59
2        2015-02-02 14:21:00
3        2015-02-02 14:22:00
4        2015-02-02 14:23:00
                ...
20555    2015-02-18 09:15:00
20556    2015-02-18 09:16:00
20557    2015-02-18 09:16:59
20558    2015-02-18 09:17:59
20559    2015-02-18 09:19:00
Name: date, Length: 20560, dtype: object

In [17]:
date=[]
time=[]
for i in df['date']:
    d, t = i.split(" ")
    #we are interested only in day information
    _,d = d.split("2015-02-")
    date.append(int(d))
    time.append(t)

In [18]:
set(date)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}

In [19]:
# time separation
hours = []
minutes = []
for t in time:
    h, m, s = t.split(":")
    
    if int(s) == 59:
        if int(m) == 59:
            #print(minutes[len(minutes)])
            minutes.append(0)
            h = int(h)
            h +=1
        else:
            minutes.append(int(m) + 1)
            
    else:
        minutes.append(int(m))
    hours.append(int(h))

In [20]:
new_time = []
for i in range(len(hours)):
    #print("{}:{}".format(hours[i], minutes[i]))
    new_time.append((hours[i]*60)+minutes[i])

In [21]:
#14*60 + 19 = 859 (numero di minuti a cui iniziano a partire le registrazioni. questo perche' il primo dato lo abbiamo alle 14:19 del lunedi' 02-02-15)
new_time[0]

859

In [22]:
for i in range(len(date)):
    print("date: {}, time: {:2}:{:<2}, time in min: {:4}"
          .format(date[i], hours[i], minutes[i], new_time[i]))

, time:  1:12, time in min:   72
date: 18, time:  1:13, time in min:   73
date: 18, time:  1:14, time in min:   74
date: 18, time:  1:15, time in min:   75
date: 18, time:  1:16, time in min:   76
date: 18, time:  1:17, time in min:   77
date: 18, time:  1:18, time in min:   78
date: 18, time:  1:19, time in min:   79
date: 18, time:  1:20, time in min:   80
date: 18, time:  1:21, time in min:   81
date: 18, time:  1:22, time in min:   82
date: 18, time:  1:23, time in min:   83
date: 18, time:  1:24, time in min:   84
date: 18, time:  1:25, time in min:   85
date: 18, time:  1:26, time in min:   86
date: 18, time:  1:27, time in min:   87
date: 18, time:  1:28, time in min:   88
date: 18, time:  1:29, time in min:   89
date: 18, time:  1:30, time in min:   90
date: 18, time:  1:31, time in min:   91
date: 18, time:  1:32, time in min:   92
date: 18, time:  1:33, time in min:   93
date: 18, time:  1:34, time in min:   94
date: 18, time:  1:35, time in min:   95
date: 18, time:  1:36, time in min:   96
date: 18, time:  1:37, time in min:   97
date: 18, time:  1:38, time in min:   98
date: 18, time:  1:39, time in min:   99
date: 18, time:  1:40, time in min:  100
date: 18, time:  1:41, time in min:  101
date: 18, time:  1:42, time in min:  102
date: 18, time:  1:43, time in min:  103
date: 18, time:  1:44, time in min:  104
date: 18, time:  1:45, time in min:  105
date: 18, time:  1:46, time in min:  106
date: 18, time:  1:47, time in min:  107
date: 18, time:  1:48, time in min:  108
date: 18, time:  1:49, time in min:  109
date: 18, time:  1:50, time in min:  110
date: 18, time:  1:51, time in min:  111
date: 18, time:  1:52, time in min:  112
date: 18, time:  1:53, time in min:  113
date: 18, time:  1:54, time in min:  114
date: 18, time:  1:55, time in min:  115
date: 18, time:  1:56, time in min:  116
date: 18, time:  1:57, time in min:  117
date: 18, time:  1:58, time in min:  118
date: 18, time:  1:59, time in min:  119
date: 18, time:  2:0 , time in min:  120
date: 18, time:  2:1 , time in min:  121
date: 18, time:  2:2 , time in min:  122
date: 18, time:  2:3 , time in min:  123
date: 18, time:  2:4 , time in min:  124
date: 18, time:  2:5 , time in min:  125
date: 18, time:  2:6 , time in min:  126
date: 18, time:  2:7 , time in min:  127
date: 18, time:  2:8 , time in min:  128
date: 18, time:  2:9 , time in min:  129
date: 18, time:  2:10, time in min:  130
date: 18, time:  2:11, time in min:  131
date: 18, time:  2:12, time in min:  132
date: 18, time:  2:13, time in min:  133
date: 18, time:  2:14, time in min:  134
date: 18, time:  2:15, time in min:  135
date: 18, time:  2:16, time in min:  136
date: 18, time:  2:17, time in min:  137
date: 18, time:  2:18, time in min:  138
date: 18, time:  2:19, time in min:  139
date: 18, time:  2:20, time in min:  140
date: 18, time:  2:21, time in min:  141
date: 18, time:  2:22, time in min:  142
date: 18, time:  2:23, time in min:  143
date: 18, time:  2:24, time in min:  144
date: 18, time:  2:25, time in min:  145
date: 18, time:  2:26, time in min:  146
date: 18, time:  2:27, time in min:  147
date: 18, time:  2:28, time in min:  148
date: 18, time:  2:29, time in min:  149
date: 18, time:  2:30, time in min:  150
date: 18, time:  2:31, time in min:  151
date: 18, time:  2:32, time in min:  152
date: 18, time:  2:33, time in min:  153
date: 18, time:  2:34, time in min:  154
date: 18, time:  2:35, time in min:  155
date: 18, time:  2:36, time in min:  156
date: 18, time:  2:37, time in min:  157
date: 18, time:  2:38, time in min:  158
date: 18, time:  2:39, time in min:  159
date: 18, time:  2:40, time in min:  160
date: 18, time:  2:41, time in min:  161
date: 18, time:  2:42, time in min:  162
date: 18, time:  2:43, time in min:  163
date: 18, time:  2:44, time in min:  164
date: 18, time:  2:45, time in min:  165
date: 18, time:  2:46, time in min:  166
date: 18, time:  2:47, time in min:  167
date: 18, time:  2:48, time in min:  168
date: 18, time:  2:49, time in min:  169
date: 18, time:  2:50, time in min:  170
date: 18, time:  2:51, time in min:  171
date: 18, time:  2:52, time in min:  172
date: 18, time:  2:53, time in min:  173
date: 18, time:  2:54, time in min:  174
date: 18, time:  2:55, time in min:  175
date: 18, time:  2:56, time in min:  176
date: 18, time:  2:57, time in min:  177
date: 18, time:  2:58, time in min:  178
date: 18, time:  2:59, time in min:  179
date: 18, time:  3:0 , time in min:  180
date: 18, time:  3:1 , time in min:  181
date: 18, time:  3:2 , time in min:  182
date: 18, time:  3:3 , time in min:  183
date: 18, time:  3:4 , time in min:  184
date: 18, time:  3:5 , time in min:  185
date: 18, time:  3:6 , time in min:  186
date: 18, time:  3:7 , time in min:  187
date: 18, time:  3:8 , time in min:  188
date: 18, time:  3:9 , time in min:  189
date: 18, time:  3:10, time in min:  190
date: 18, time:  3:11, time in min:  191
date: 18, time:  3:12, time in min:  192
date: 18, time:  3:13, time in min:  193
date: 18, time:  3:14, time in min:  194
date: 18, time:  3:15, time in min:  195
date: 18, time:  3:16, time in min:  196
date: 18, time:  3:17, time in min:  197
date: 18, time:  3:18, time in min:  198
date: 18, time:  3:19, time in min:  199
date: 18, time:  3:20, time in min:  200
date: 18, time:  3:21, time in min:  201
date: 18, time:  3:22, time in min:  202
date: 18, time:  3:23, time in min:  203
date: 18, time:  3:24, time in min:  204
date: 18, time:  3:25, time in min:  205
date: 18, time:  3:26, time in min:  206
date: 18, time:  3:27, time in min:  207
date: 18, time:  3:28, time in min:  208
date: 18, time:  3:29, time in min:  209
date: 18, time:  3:30, time in min:  210
date: 18, time:  3:31, time in min:  211
date: 18, time:  3:32, time in min:  212
date: 18, time:  3:33, time in min:  213
date: 18, time:  3:34, time in min:  214
date: 18, time:  3:35, time in min:  215
date: 18, time:  3:36, time in min:  216
date: 18, time:  3:37, time in min:  217
date: 18, time:  3:38, time in min:  218
date: 18, time:  3:39, time in min:  219
date: 18, time:  3:40, time in min:  220
date: 18, time:  3:41, time in min:  221
date: 18, time:  3:42, time in min:  222
date: 18, time:  3:43, time in min:  223
date: 18, time:  3:44, time in min:  224
date: 18, time:  3:45, time in min:  225
date: 18, time:  3:46, time in min:  226
date: 18, time:  3:47, time in min:  227
date: 18, time:  3:48, time in min:  228
date: 18, time:  3:49, time in min:  229
date: 18, time:  3:50, time in min:  230
date: 18, time:  3:51, time in min:  231
date: 18, time:  3:52, time in min:  232
date: 18, time:  3:53, time in min:  233
date: 18, time:  3:54, time in min:  234
date: 18, time:  3:55, time in min:  235
date: 18, time:  3:56, time in min:  236
date: 18, time:  3:57, time in min:  237
date: 18, time:  3:58, time in min:  238
date: 18, time:  3:59, time in min:  239
date: 18, time:  4:0 , time in min:  240
date: 18, time:  4:1 , time in min:  241
date: 18, time:  4:2 , time in min:  242
date: 18, time:  4:3 , time in min:  243
date: 18, time:  4:4 , time in min:  244
date: 18, time:  4:5 , time in min:  245
date: 18, time:  4:6 , time in min:  246
date: 18, time:  4:7 , time in min:  247
date: 18, time:  4:8 , time in min:  248
date: 18, time:  4:9 , time in min:  249
date: 18, time:  4:10, time in min:  250
date: 18, time:  4:11, time in min:  251
date: 18, time:  4:12, time in min:  252
date: 18, time:  4:13, time in min:  253
date: 18, time:  4:14, time in min:  254
date: 18, time:  4:15, time in min:  255
date: 18, time:  4:16, time in min:  256
date: 18, time:  4:17, time in min:  257
date: 18, time:  4:18, time in min:  258
date: 18, time:  4:19, time in min:  259
date: 18, time:  4:20, time in min:  260
date: 18, time:  4:21, time in min:  261
date: 18, time:  4:22, time in min:  262
date: 18, time:  4:23, time in min:  263
date: 18, time:  4:24, time in min:  264
date: 18, time:  4:25, time in min:  265
date: 18, time:  4:26, time in min:  266
date: 18, time:  4:27, time in min:  267
date: 18, time:  4:28, time in min:  268
date: 18, time:  4:29, time in min:  269
date: 18, time:  4:30, time in min:  270
date: 18, time:  4:31, time in min:  271
date: 18, time:  4:32, time in min:  272
date: 18, time:  4:33, time in min:  273
date: 18, time:  4:34, time in min:  274
date: 18, time:  4:35, time in min:  275
date: 18, time:  4:36, time in min:  276
date: 18, time:  4:37, time in min:  277
date: 18, time:  4:38, time in min:  278
date: 18, time:  4:39, time in min:  279
date: 18, time:  4:40, time in min:  280
date: 18, time:  4:41, time in min:  281
date: 18, time:  4:42, time in min:  282
date: 18, time:  4:43, time in min:  283
date: 18, time:  4:44, time in min:  284
date: 18, time:  4:45, time in min:  285
date: 18, time:  4:46, time in min:  286
date: 18, time:  4:47, time in min:  287
date: 18, time:  4:48, time in min:  288
date: 18, time:  4:49, time in min:  289
date: 18, time:  4:50, time in min:  290
date: 18, time:  4:51, time in min:  291
date: 18, time:  4:52, time in min:  292
date: 18, time:  4:53, time in min:  293
date: 18, time:  4:54, time in min:  294
date: 18, time:  4:55, time in min:  295
date: 18, time:  4:56, time in min:  296
date: 18, time:  4:57, time in min:  297
date: 18, time:  4:58, time in min:  298
date: 18, time:  4:59, time in min:  299
date: 18, time:  5:0 , time in min:  300
date: 18, time:  5:1 , time in min:  301
date: 18, time:  5:2 , time in min:  302
date: 18, time:  5:3 , time in min:  303
date: 18, time:  5:4 , time in min:  304
date: 18, time:  5:5 , time in min:  305
date: 18, time:  5:6 , time in min:  306
date: 18, time:  5:7 , time in min:  307
date: 18, time:  5:8 , time in min:  308
date: 18, time:  5:9 , time in min:  309
date: 18, time:  5:10, time in min:  310
date: 18, time:  5:11, time in min:  311
date: 18, time:  5:12, time in min:  312
date: 18, time:  5:13, time in min:  313
date: 18, time:  5:14, time in min:  314
date: 18, time:  5:15, time in min:  315
date: 18, time:  5:16, time in min:  316
date: 18, time:  5:17, time in min:  317
date: 18, time:  5:18, time in min:  318
date: 18, time:  5:19, time in min:  319
date: 18, time:  5:20, time in min:  320
date: 18, time:  5:21, time in min:  321
date: 18, time:  5:22, time in min:  322
date: 18, time:  5:23, time in min:  323
date: 18, time:  5:24, time in min:  324
date: 18, time:  5:25, time in min:  325
date: 18, time:  5:26, time in min:  326
date: 18, time:  5:27, time in min:  327
date: 18, time:  5:28, time in min:  328
date: 18, time:  5:29, time in min:  329
date: 18, time:  5:30, time in min:  330
date: 18, time:  5:31, time in min:  331
date: 18, time:  5:32, time in min:  332
date: 18, time:  5:33, time in min:  333
date: 18, time:  5:34, time in min:  334
date: 18, time:  5:35, time in min:  335
date: 18, time:  5:36, time in min:  336
date: 18, time:  5:37, time in min:  337
date: 18, time:  5:38, time in min:  338
date: 18, time:  5:39, time in min:  339
date: 18, time:  5:40, time in min:  340
date: 18, time:  5:41, time in min:  341
date: 18, time:  5:42, time in min:  342
date: 18, time:  5:43, time in min:  343
date: 18, time:  5:44, time in min:  344
date: 18, time:  5:45, time in min:  345
date: 18, time:  5:46, time in min:  346
date: 18, time:  5:47, time in min:  347
date: 18, time:  5:48, time in min:  348
date: 18, time:  5:49, time in min:  349
date: 18, time:  5:50, time in min:  350
date: 18, time:  5:51, time in min:  351
date: 18, time:  5:52, time in min:  352
date: 18, time:  5:53, time in min:  353
date: 18, time:  5:54, time in min:  354
date: 18, time:  5:55, time in min:  355
date: 18, time:  5:56, time in min:  356
date: 18, time:  5:57, time in min:  357
date: 18, time:  5:58, time in min:  358
date: 18, time:  5:59, time in min:  359
date: 18, time:  6:0 , time in min:  360
date: 18, time:  6:1 , time in min:  361
date: 18, time:  6:2 , time in min:  362
date: 18, time:  6:3 , time in min:  363
date: 18, time:  6:4 , time in min:  364
date: 18, time:  6:5 , time in min:  365
date: 18, time:  6:6 , time in min:  366
date: 18, time:  6:7 , time in min:  367
date: 18, time:  6:8 , time in min:  368
date: 18, time:  6:9 , time in min:  369
date: 18, time:  6:10, time in min:  370
date: 18, time:  6:11, time in min:  371
date: 18, time:  6:12, time in min:  372
date: 18, time:  6:13, time in min:  373
date: 18, time:  6:14, time in min:  374
date: 18, time:  6:15, time in min:  375
date: 18, time:  6:16, time in min:  376
date: 18, time:  6:17, time in min:  377
date: 18, time:  6:18, time in min:  378
date: 18, time:  6:19, time in min:  379
date: 18, time:  6:20, time in min:  380
date: 18, time:  6:21, time in min:  381
date: 18, time:  6:22, time in min:  382
date: 18, time:  6:23, time in min:  383
date: 18, time:  6:24, time in min:  384
date: 18, time:  6:25, time in min:  385
date: 18, time:  6:26, time in min:  386
date: 18, time:  6:27, time in min:  387
date: 18, time:  6:28, time in min:  388
date: 18, time:  6:29, time in min:  389
date: 18, time:  6:30, time in min:  390
date: 18, time:  6:31, time in min:  391
date: 18, time:  6:32, time in min:  392
date: 18, time:  6:33, time in min:  393
date: 18, time:  6:34, time in min:  394
date: 18, time:  6:35, time in min:  395
date: 18, time:  6:36, time in min:  396
date: 18, time:  6:37, time in min:  397
date: 18, time:  6:38, time in min:  398
date: 18, time:  6:39, time in min:  399
date: 18, time:  6:40, time in min:  400
date: 18, time:  6:41, time in min:  401
date: 18, time:  6:42, time in min:  402
date: 18, time:  6:43, time in min:  403
date: 18, time:  6:44, time in min:  404
date: 18, time:  6:45, time in min:  405
date: 18, time:  6:46, time in min:  406
date: 18, time:  6:47, time in min:  407
date: 18, time:  6:48, time in min:  408
date: 18, time:  6:49, time in min:  409
date: 18, time:  6:50, time in min:  410
date: 18, time:  6:51, time in min:  411
date: 18, time:  6:52, time in min:  412
date: 18, time:  6:53, time in min:  413
date: 18, time:  6:54, time in min:  414
date: 18, time:  6:55, time in min:  415
date: 18, time:  6:56, time in min:  416
date: 18, time:  6:57, time in min:  417
date: 18, time:  6:58, time in min:  418
date: 18, time:  6:59, time in min:  419
date: 18, time:  7:0 , time in min:  420
date: 18, time:  7:1 , time in min:  421
date: 18, time:  7:2 , time in min:  422
date: 18, time:  7:3 , time in min:  423
date: 18, time:  7:4 , time in min:  424
date: 18, time:  7:5 , time in min:  425
date: 18, time:  7:6 , time in min:  426
date: 18, time:  7:7 , time in min:  427
date: 18, time:  7:8 , time in min:  428
date: 18, time:  7:9 , time in min:  429
date: 18, time:  7:10, time in min:  430
date: 18, time:  7:11, time in min:  431
date: 18, time:  7:12, time in min:  432
date: 18, time:  7:13, time in min:  433
date: 18, time:  7:14, time in min:  434
date: 18, time:  7:15, time in min:  435
date: 18, time:  7:16, time in min:  436
date: 18, time:  7:17, time in min:  437
date: 18, time:  7:18, time in min:  438
date: 18, time:  7:19, time in min:  439
date: 18, time:  7:20, time in min:  440
date: 18, time:  7:21, time in min:  441
date: 18, time:  7:22, time in min:  442
date: 18, time:  7:23, time in min:  443
date: 18, time:  7:24, time in min:  444
date: 18, time:  7:25, time in min:  445
date: 18, time:  7:26, time in min:  446
date: 18, time:  7:27, time in min:  447
date: 18, time:  7:28, time in min:  448
date: 18, time:  7:29, time in min:  449
date: 18, time:  7:30, time in min:  450
date: 18, time:  7:31, time in min:  451
date: 18, time:  7:32, time in min:  452
date: 18, time:  7:33, time in min:  453
date: 18, time:  7:34, time in min:  454
date: 18, time:  7:35, time in min:  455
date: 18, time:  7:36, time in min:  456
date: 18, time:  7:37, time in min:  457
date: 18, time:  7:38, time in min:  458
date: 18, time:  7:39, time in min:  459
date: 18, time:  7:40, time in min:  460
date: 18, time:  7:41, time in min:  461
date: 18, time:  7:42, time in min:  462
date: 18, time:  7:43, time in min:  463
date: 18, time:  7:44, time in min:  464
date: 18, time:  7:45, time in min:  465
date: 18, time:  7:46, time in min:  466
date: 18, time:  7:47, time in min:  467
date: 18, time:  7:48, time in min:  468
date: 18, time:  7:49, time in min:  469
date: 18, time:  7:50, time in min:  470
date: 18, time:  7:51, time in min:  471
date: 18, time:  7:52, time in min:  472
date: 18, time:  7:53, time in min:  473
date: 18, time:  7:54, time in min:  474
date: 18, time:  7:55, time in min:  475
date: 18, time:  7:56, time in min:  476
date: 18, time:  7:57, time in min:  477
date: 18, time:  7:58, time in min:  478
date: 18, time:  7:59, time in min:  479
date: 18, time:  8:0 , time in min:  480
date: 18, time:  8:1 , time in min:  481
date: 18, time:  8:2 , time in min:  482
date: 18, time:  8:3 , time in min:  483
date: 18, time:  8:4 , time in min:  484
date: 18, time:  8:5 , time in min:  485
date: 18, time:  8:6 , time in min:  486
date: 18, time:  8:7 , time in min:  487
date: 18, time:  8:8 , time in min:  488
date: 18, time:  8:9 , time in min:  489
date: 18, time:  8:10, time in min:  490
date: 18, time:  8:11, time in min:  491
date: 18, time:  8:12, time in min:  492
date: 18, time:  8:13, time in min:  493
date: 18, time:  8:14, time in min:  494
date: 18, time:  8:15, time in min:  495
date: 18, time:  8:16, time in min:  496
date: 18, time:  8:17, time in min:  497
date: 18, time:  8:18, time in min:  498
date: 18, time:  8:19, time in min:  499
date: 18, time:  8:20, time in min:  500
date: 18, time:  8:21, time in min:  501
date: 18, time:  8:22, time in min:  502
date: 18, time:  8:23, time in min:  503
date: 18, time:  8:24, time in min:  504
date: 18, time:  8:25, time in min:  505
date: 18, time:  8:26, time in min:  506
date: 18, time:  8:27, time in min:  507
date: 18, time:  8:28, time in min:  508
date: 18, time:  8:29, time in min:  509
date: 18, time:  8:30, time in min:  510
date: 18, time:  8:31, time in min:  511
date: 18, time:  8:32, time in min:  512
date: 18, time:  8:33, time in min:  513
date: 18, time:  8:34, time in min:  514
date: 18, time:  8:35, time in min:  515
date: 18, time:  8:36, time in min:  516
date: 18, time:  8:37, time in min:  517
date: 18, time:  8:38, time in min:  518
date: 18, time:  8:39, time in min:  519
date: 18, time:  8:40, time in min:  520
date: 18, time:  8:41, time in min:  521
date: 18, time:  8:42, time in min:  522
date: 18, time:  8:43, time in min:  523
date: 18, time:  8:44, time in min:  524
date: 18, time:  8:45, time in min:  525
date: 18, time:  8:46, time in min:  526
date: 18, time:  8:47, time in min:  527
date: 18, time:  8:48, time in min:  528
date: 18, time:  8:49, time in min:  529
date: 18, time:  8:50, time in min:  530
date: 18, time:  8:51, time in min:  531
date: 18, time:  8:52, time in min:  532
date: 18, time:  8:53, time in min:  533
date: 18, time:  8:54, time in min:  534
date: 18, time:  8:55, time in min:  535
date: 18, time:  8:56, time in min:  536
date: 18, time:  8:57, time in min:  537
date: 18, time:  8:58, time in min:  538
date: 18, time:  8:59, time in min:  539
date: 18, time:  9:0 , time in min:  540
date: 18, time:  9:1 , time in min:  541
date: 18, time:  9:2 , time in min:  542
date: 18, time:  9:3 , time in min:  543
date: 18, time:  9:4 , time in min:  544
date: 18, time:  9:5 , time in min:  545
date: 18, time:  9:6 , time in min:  546
date: 18, time:  9:7 , time in min:  547
date: 18, time:  9:8 , time in min:  548
date: 18, time:  9:9 , time in min:  549
date: 18, time:  9:10, time in min:  550
date: 18, time:  9:11, time in min:  551
date: 18, time:  9:12, time in min:  552
date: 18, time:  9:13, time in min:  553
date: 18, time:  9:14, time in min:  554
date: 18, time:  9:15, time in min:  555
date: 18, time:  9:16, time in min:  556
date: 18, time:  9:17, time in min:  557
date: 18, time:  9:18, time in min:  558
date: 18, time:  9:19, time in min:  559

In [23]:
# aggiungiamo le variabili nuove al dataset
df["day"] = date
df['hour'] = hours
df['minute'] = minutes
df['day_minute'] = new_time

In [24]:
cumulative_hour =[]
cumulative_minute = []

starting_hour = df['day'][0]*24 + df['hour'][0]
starting_minute = df['minute'][0]

for index, row in df.iterrows():
    cumulative_hour.append(((df['day'][index]*24) + df['hour'][index]) - starting_hour) # last element of the formula since observation started from day 4 hour 17
    cumulative_minute.append((((df['day'][index]*24) + df['hour'][index]) - starting_hour)*60 + (df['minute'][index]) - starting_minute) # 1071 is the value of day_minute at the first observation

df['cumulative_hour'] = cumulative_hour
df['cumulative_minute'] = cumulative_minute

In [25]:
df['weekend'] = 0
for index, row in df.iterrows():
    if row['day']%7 == 0 or row['day']%7 == 1:
        df['weekend'][index] = 1

In [26]:
df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
0,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,2,14,19,859,0,0,0
1,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,2,14,20,860,0,1,0
2,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,2,14,21,861,0,2,0
3,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,2,14,22,862,0,3,0
4,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,2,14,23,863,0,4,0

In [27]:
df.describe()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
count,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000,20560.000000
mean,20.906212,27.655925,130.756622,690.553276,0.004228,0.231031,10.073249,11.452383,29.486041,716.629037,191.210360,11483.107636,0.280156
std,1.055315,4.982154,210.430875,311.201281,0.000768,0.421503,4.729430,7.076237,17.321348,424.965672,113.150311,6788.988770,0.449086
min,19.000000,16.745000,0.000000,412.750000,0.002674,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.200000,24.500000,0.000000,460.000000,0.003719,0.000000,6.000000,5.000000,14.000000,342.000000,93.000000,5566.750000,0.000000
50%,20.700000,27.290000,0.000000,565.416667,0.004292,0.000000,10.000000,11.000000,29.000000,708.000000,178.000000,10706.500000,0.000000
75%,21.525000,31.290000,301.000000,804.666667,0.004832,0.000000,14.000000,18.000000,44.000000,1097.000000,293.000000,17600.250000,1.000000
max,24.408333,39.500000,1697.250000,2076.500000,0.006476,1.000000,18.000000,23.000000,59.000000,1439.000000,379.000000,22740.000000,1.000000

In [28]:
#Discrepanze nelle date (2)
#la riga 10807 corrisponde al giorno 10-02-15 alle 09:33
#la riga 10808 corrisponde al giorno 11-02-15 alle 14:48 (1755 minuti dopo)

#2183 = 428 + 1755 mentre 22740 - 20560 = 2180

for i in range(len(df)):
  if(df['cumulative_minute'][i] != i):
    print(i) #2665
    break #mi stoppo non appena trova la dicrepanza
    
i += 427 #facendo questo incremento e' di nuovo vero che df['cumulative_minute'] == i
print('---------------------')
#ora i = 3092

for j in range(i, len(df)):
  if(df['cumulative_minute'][j] - 427 != j):
    print(j)
    j += 1754
    break

print('---------------------')

for i in range(10808, len(df)): #dimostro che non ci sono piu' discrepanze
  if(df['cumulative_minute'][i] != i + 427 + 1754):
    print(i)
    #break
  print(i + 427 + 1754, df['cumulative_minute'][i]) # se non ci sono più discrepanze stampa tutti i record rimanenti

74 21074
21075 21075
21076 21076
21077 21077
21078 21078
21079 21079
21080 21080
21081 21081
21082 21082
21083 21083
21084 21084
21085 21085
21086 21086
21087 21087
21088 21088
21089 21089
21090 21090
21091 21091
21092 21092
21093 21093
21094 21094
21095 21095
21096 21096
21097 21097
21098 21098
21099 21099
21100 21100
21101 21101
21102 21102
21103 21103
21104 21104
21105 21105
21106 21106
21107 21107
21108 21108
21109 21109
21110 21110
21111 21111
21112 21112
21113 21113
21114 21114
21115 21115
21116 21116
21117 21117
21118 21118
21119 21119
21120 21120
21121 21121
21122 21122
21123 21123
21124 21124
21125 21125
21126 21126
21127 21127
21128 21128
21129 21129
21130 21130
21131 21131
21132 21132
21133 21133
21134 21134
21135 21135
21136 21136
21137 21137
21138 21138
21139 21139
21140 21140
21141 21141
21142 21142
21143 21143
21144 21144
21145 21145
21146 21146
21147 21147
21148 21148
21149 21149
21150 21150
21151 21151
21152 21152
21153 21153
21154 21154
21155 21155
21156 21156
21157 21157
21158 21158
21159 21159
21160 21160
21161 21161
21162 21162
21163 21163
21164 21164
21165 21165
21166 21166
21167 21167
21168 21168
21169 21169
21170 21170
21171 21171
21172 21172
21173 21173
21174 21174
21175 21175
21176 21176
21177 21177
21178 21178
21179 21179
21180 21180
21181 21181
21182 21182
21183 21183
21184 21184
21185 21185
21186 21186
21187 21187
21188 21188
21189 21189
21190 21190
21191 21191
21192 21192
21193 21193
21194 21194
21195 21195
21196 21196
21197 21197
21198 21198
21199 21199
21200 21200
21201 21201
21202 21202
21203 21203
21204 21204
21205 21205
21206 21206
21207 21207
21208 21208
21209 21209
21210 21210
21211 21211
21212 21212
21213 21213
21214 21214
21215 21215
21216 21216
21217 21217
21218 21218
21219 21219
21220 21220
21221 21221
21222 21222
21223 21223
21224 21224
21225 21225
21226 21226
21227 21227
21228 21228
21229 21229
21230 21230
21231 21231
21232 21232
21233 21233
21234 21234
21235 21235
21236 21236
21237 21237
21238 21238
21239 21239
21240 21240
21241 21241
21242 21242
21243 21243
21244 21244
21245 21245
21246 21246
21247 21247
21248 21248
21249 21249
21250 21250
21251 21251
21252 21252
21253 21253
21254 21254
21255 21255
21256 21256
21257 21257
21258 21258
21259 21259
21260 21260
21261 21261
21262 21262
21263 21263
21264 21264
21265 21265
21266 21266
21267 21267
21268 21268
21269 21269
21270 21270
21271 21271
21272 21272
21273 21273
21274 21274
21275 21275
21276 21276
21277 21277
21278 21278
21279 21279
21280 21280
21281 21281
21282 21282
21283 21283
21284 21284
21285 21285
21286 21286
21287 21287
21288 21288
21289 21289
21290 21290
21291 21291
21292 21292
21293 21293
21294 21294
21295 21295
21296 21296
21297 21297
21298 21298
21299 21299
21300 21300
21301 21301
21302 21302
21303 21303
21304 21304
21305 21305
21306 21306
21307 21307
21308 21308
21309 21309
21310 21310
21311 21311
21312 21312
21313 21313
21314 21314
21315 21315
21316 21316
21317 21317
21318 21318
21319 21319
21320 21320
21321 21321
21322 21322
21323 21323
21324 21324
21325 21325
21326 21326
21327 21327
21328 21328
21329 21329
21330 21330
21331 21331
21332 21332
21333 21333
21334 21334
21335 21335
21336 21336
21337 21337
21338 21338
21339 21339
21340 21340
21341 21341
21342 21342
21343 21343
21344 21344
21345 21345
21346 21346
21347 21347
21348 21348
21349 21349
21350 21350
21351 21351
21352 21352
21353 21353
21354 21354
21355 21355
21356 21356
21357 21357
21358 21358
21359 21359
21360 21360
21361 21361
21362 21362
21363 21363
21364 21364
21365 21365
21366 21366
21367 21367
21368 21368
21369 21369
21370 21370
21371 21371
21372 21372
21373 21373
21374 21374
21375 21375
21376 21376
21377 21377
21378 21378
21379 21379
21380 21380
21381 21381
21382 21382
21383 21383
21384 21384
21385 21385
21386 21386
21387 21387
21388 21388
21389 21389
21390 21390
21391 21391
21392 21392
21393 21393
21394 21394
21395 21395
21396 21396
21397 21397
21398 21398
21399 21399
21400 21400
21401 21401
21402 21402
21403 21403
21404 21404
21405 21405
21406 21406
21407 21407
21408 21408
21409 21409
21410 21410
21411 21411
21412 21412
21413 21413
21414 21414
21415 21415
21416 21416
21417 21417
21418 21418
21419 21419
21420 21420
21421 21421
21422 21422
21423 21423
21424 21424
21425 21425
21426 21426
21427 21427
21428 21428
21429 21429
21430 21430
21431 21431
21432 21432
21433 21433
21434 21434
21435 21435
21436 21436
21437 21437
21438 21438
21439 21439
21440 21440
21441 21441
21442 21442
21443 21443
21444 21444
21445 21445
21446 21446
21447 21447
21448 21448
21449 21449
21450 21450
21451 21451
21452 21452
21453 21453
21454 21454
21455 21455
21456 21456
21457 21457
21458 21458
21459 21459
21460 21460
21461 21461
21462 21462
21463 21463
21464 21464
21465 21465
21466 21466
21467 21467
21468 21468
21469 21469
21470 21470
21471 21471
21472 21472
21473 21473
21474 21474
21475 21475
21476 21476
21477 21477
21478 21478
21479 21479
21480 21480
21481 21481
21482 21482
21483 21483
21484 21484
21485 21485
21486 21486
21487 21487
21488 21488
21489 21489
21490 21490
21491 21491
21492 21492
21493 21493
21494 21494
21495 21495
21496 21496
21497 21497
21498 21498
21499 21499
21500 21500
21501 21501
21502 21502
21503 21503
21504 21504
21505 21505
21506 21506
21507 21507
21508 21508
21509 21509
21510 21510
21511 21511
21512 21512
21513 21513
21514 21514
21515 21515
21516 21516
21517 21517
21518 21518
21519 21519
21520 21520
21521 21521
21522 21522
21523 21523
21524 21524
21525 21525
21526 21526
21527 21527
21528 21528
21529 21529
21530 21530
21531 21531
21532 21532
21533 21533
21534 21534
21535 21535
21536 21536
21537 21537
21538 21538
21539 21539
21540 21540
21541 21541
21542 21542
21543 21543
21544 21544
21545 21545
21546 21546
21547 21547
21548 21548
21549 21549
21550 21550
21551 21551
21552 21552
21553 21553
21554 21554
21555 21555
21556 21556
21557 21557
21558 21558
21559 21559
21560 21560
21561 21561
21562 21562
21563 21563
21564 21564
21565 21565
21566 21566
21567 21567
21568 21568
21569 21569
21570 21570
21571 21571
21572 21572
21573 21573
21574 21574
21575 21575
21576 21576
21577 21577
21578 21578
21579 21579
21580 21580
21581 21581
21582 21582
21583 21583
21584 21584
21585 21585
21586 21586
21587 21587
21588 21588
21589 21589
21590 21590
21591 21591
21592 21592
21593 21593
21594 21594
21595 21595
21596 21596
21597 21597
21598 21598
21599 21599
21600 21600
21601 21601
21602 21602
21603 21603
21604 21604
21605 21605
21606 21606
21607 21607
21608 21608
21609 21609
21610 21610
21611 21611
21612 21612
21613 21613
21614 21614
21615 21615
21616 21616
21617 21617
21618 21618
21619 21619
21620 21620
21621 21621
21622 21622
21623 21623
21624 21624
21625 21625
21626 21626
21627 21627
21628 21628
21629 21629
21630 21630
21631 21631
21632 21632
21633 21633
21634 21634
21635 21635
21636 21636
21637 21637
21638 21638
21639 21639
21640 21640
21641 21641
21642 21642
21643 21643
21644 21644
21645 21645
21646 21646
21647 21647
21648 21648
21649 21649
21650 21650
21651 21651
21652 21652
21653 21653
21654 21654
21655 21655
21656 21656
21657 21657
21658 21658
21659 21659
21660 21660
21661 21661
21662 21662
21663 21663
21664 21664
21665 21665
21666 21666
21667 21667
21668 21668
21669 21669
21670 21670
21671 21671
21672 21672
21673 21673
21674 21674
21675 21675
21676 21676
21677 21677
21678 21678
21679 21679
21680 21680
21681 21681
21682 21682
21683 21683
21684 21684
21685 21685
21686 21686
21687 21687
21688 21688
21689 21689
21690 21690
21691 21691
21692 21692
21693 21693
21694 21694
21695 21695
21696 21696
21697 21697
21698 21698
21699 21699
21700 21700
21701 21701
21702 21702
21703 21703
21704 21704
21705 21705
21706 21706
21707 21707
21708 21708
21709 21709
21710 21710
21711 21711
21712 21712
21713 21713
21714 21714
21715 21715
21716 21716
21717 21717
21718 21718
21719 21719
21720 21720
21721 21721
21722 21722
21723 21723
21724 21724
21725 21725
21726 21726
21727 21727
21728 21728
21729 21729
21730 21730
21731 21731
21732 21732
21733 21733
21734 21734
21735 21735
21736 21736
21737 21737
21738 21738
21739 21739
21740 21740
21741 21741
21742 21742
21743 21743
21744 21744
21745 21745
21746 21746
21747 21747
21748 21748
21749 21749
21750 21750
21751 21751
21752 21752
21753 21753
21754 21754
21755 21755
21756 21756
21757 21757
21758 21758
21759 21759
21760 21760
21761 21761
21762 21762
21763 21763
21764 21764
21765 21765
21766 21766
21767 21767
21768 21768
21769 21769
21770 21770
21771 21771
21772 21772
21773 21773
21774 21774
21775 21775
21776 21776
21777 21777
21778 21778
21779 21779
21780 21780
21781 21781
21782 21782
21783 21783
21784 21784
21785 21785
21786 21786
21787 21787
21788 21788
21789 21789
21790 21790
21791 21791
21792 21792
21793 21793
21794 21794
21795 21795
21796 21796
21797 21797
21798 21798
21799 21799
21800 21800
21801 21801
21802 21802
21803 21803
21804 21804
21805 21805
21806 21806
21807 21807
21808 21808
21809 21809
21810 21810
21811 21811
21812 21812
21813 21813
21814 21814
21815 21815
21816 21816
21817 21817
21818 21818
21819 21819
21820 21820
21821 21821
21822 21822
21823 21823
21824 21824
21825 21825
21826 21826
21827 21827
21828 21828
21829 21829
21830 21830
21831 21831
21832 21832
21833 21833
21834 21834
21835 21835
21836 21836
21837 21837
21838 21838
21839 21839
21840 21840
21841 21841
21842 21842
21843 21843
21844 21844
21845 21845
21846 21846
21847 21847
21848 21848
21849 21849
21850 21850
21851 21851
21852 21852
21853 21853
21854 21854
21855 21855
21856 21856
21857 21857
21858 21858
21859 21859
21860 21860
21861 21861
21862 21862
21863 21863
21864 21864
21865 21865
21866 21866
21867 21867
21868 21868
21869 21869
21870 21870
21871 21871
21872 21872
21873 21873
21874 21874
21875 21875
21876 21876
21877 21877
21878 21878
21879 21879
21880 21880
21881 21881
21882 21882
21883 21883
21884 21884
21885 21885
21886 21886
21887 21887
21888 21888
21889 21889
21890 21890
21891 21891
21892 21892
21893 21893
21894 21894
21895 21895
21896 21896
21897 21897
21898 21898
21899 21899
21900 21900
21901 21901
21902 21902
21903 21903
21904 21904
21905 21905
21906 21906
21907 21907
21908 21908
21909 21909
21910 21910
21911 21911
21912 21912
21913 21913
21914 21914
21915 21915
21916 21916
21917 21917
21918 21918
21919 21919
21920 21920
21921 21921
21922 21922
21923 21923
21924 21924
21925 21925
21926 21926
21927 21927
21928 21928
21929 21929
21930 21930
21931 21931
21932 21932
21933 21933
21934 21934
21935 21935
21936 21936
21937 21937
21938 21938
21939 21939
21940 21940
21941 21941
21942 21942
21943 21943
21944 21944
21945 21945
21946 21946
21947 21947
21948 21948
21949 21949
21950 21950
21951 21951
21952 21952
21953 21953
21954 21954
21955 21955
21956 21956
21957 21957
21958 21958
21959 21959
21960 21960
21961 21961
21962 21962
21963 21963
21964 21964
21965 21965
21966 21966
21967 21967
21968 21968
21969 21969
21970 21970
21971 21971
21972 21972
21973 21973
21974 21974
21975 21975
21976 21976
21977 21977
21978 21978
21979 21979
21980 21980
21981 21981
21982 21982
21983 21983
21984 21984
21985 21985
21986 21986
21987 21987
21988 21988
21989 21989
21990 21990
21991 21991
21992 21992
21993 21993
21994 21994
21995 21995
21996 21996
21997 21997
21998 21998
21999 21999
22000 22000
22001 22001
22002 22002
22003 22003
22004 22004
22005 22005
22006 22006
22007 22007
22008 22008
22009 22009
22010 22010
22011 22011
22012 22012
22013 22013
22014 22014
22015 22015
22016 22016
22017 22017
22018 22018
22019 22019
22020 22020
22021 22021
22022 22022
22023 22023
22024 22024
22025 22025
22026 22026
22027 22027
22028 22028
22029 22029
22030 22030
22031 22031
22032 22032
22033 22033
22034 22034
22035 22035
22036 22036
22037 22037
22038 22038
22039 22039
22040 22040
22041 22041
22042 22042
22043 22043
22044 22044
22045 22045
22046 22046
22047 22047
22048 22048
22049 22049
22050 22050
22051 22051
22052 22052
22053 22053
22054 22054
22055 22055
22056 22056
22057 22057
22058 22058
22059 22059
22060 22060
22061 22061
22062 22062
22063 22063
22064 22064
22065 22065
22066 22066
22067 22067
22068 22068
22069 22069
22070 22070
22071 22071
22072 22072
22073 22073
22074 22074
22075 22075
22076 22076
22077 22077
22078 22078
22079 22079
22080 22080
22081 22081
22082 22082
22083 22083
22084 22084
22085 22085
22086 22086
22087 22087
22088 22088
22089 22089
22090 22090
22091 22091
22092 22092
22093 22093
22094 22094
22095 22095
22096 22096
22097 22097
22098 22098
22099 22099
22100 22100
22101 22101
22102 22102
22103 22103
22104 22104
22105 22105
22106 22106
22107 22107
22108 22108
22109 22109
22110 22110
22111 22111
22112 22112
22113 22113
22114 22114
22115 22115
22116 22116
22117 22117
22118 22118
22119 22119
22120 22120
22121 22121
22122 22122
22123 22123
22124 22124
22125 22125
22126 22126
22127 22127
22128 22128
22129 22129
22130 22130
22131 22131
22132 22132
22133 22133
22134 22134
22135 22135
22136 22136
22137 22137
22138 22138
22139 22139
22140 22140
22141 22141
22142 22142
22143 22143
2214422144
22145 22145
22146 22146
22147 22147
22148 22148
22149 22149
22150 22150
22151 22151
22152 22152
22153 22153
22154 22154
22155 22155
22156 22156
22157 22157
22158 22158
22159 22159
22160 22160
22161 22161
22162 22162
22163 22163
22164 22164
22165 22165
22166 22166
22167 22167
22168 22168
22169 22169
22170 22170
22171 22171
22172 22172
22173 22173
22174 22174
22175 22175
22176 22176
22177 22177
22178 22178
22179 22179
22180 22180
22181 22181
22182 22182
22183 22183
22184 22184
22185 22185
22186 22186
22187 22187
22188 22188
22189 22189
22190 22190
22191 22191
22192 22192
22193 22193
22194 22194
22195 22195
22196 22196
22197 22197
22198 22198
22199 22199
22200 22200
22201 22201
22202 22202
22203 22203
22204 22204
22205 22205
22206 22206
22207 22207
22208 22208
22209 22209
22210 22210
22211 22211
22212 22212
22213 22213
22214 22214
22215 22215
22216 22216
22217 22217
22218 22218
22219 22219
22220 22220
22221 22221
22222 22222
22223 22223
22224 22224
22225 22225
22226 22226
22227 22227
22228 22228
22229 22229
22230 22230
22231 22231
22232 22232
22233 22233
22234 22234
22235 22235
22236 22236
22237 22237
22238 22238
22239 22239
22240 22240
22241 22241
22242 22242
22243 22243
22244 22244
22245 22245
22246 22246
22247 22247
22248 22248
22249 22249
22250 22250
22251 22251
22252 22252
22253 22253
22254 22254
22255 22255
22256 22256
22257 22257
22258 22258
22259 22259
22260 22260
22261 22261
22262 22262
22263 22263
22264 22264
22265 22265
22266 22266
22267 22267
22268 22268
22269 22269
22270 22270
22271 22271
22272 22272
22273 22273
22274 22274
22275 22275
22276 22276
22277 22277
22278 22278
22279 22279
22280 22280
22281 22281
22282 22282
22283 22283
22284 22284
22285 22285
22286 22286
22287 22287
22288 22288
22289 22289
22290 22290
22291 22291
22292 22292
22293 22293
22294 22294
22295 22295
22296 22296
22297 22297
22298 22298
22299 22299
22300 22300
22301 22301
22302 22302
22303 22303
22304 22304
22305 22305
22306 22306
22307 22307
22308 22308
22309 22309
22310 22310
22311 22311
22312 22312
22313 22313
22314 22314
22315 22315
22316 22316
22317 22317
22318 22318
22319 22319
22320 22320
22321 22321
22322 22322
22323 22323
22324 22324
22325 22325
22326 22326
22327 22327
22328 22328
22329 22329
22330 22330
22331 22331
22332 22332
22333 22333
22334 22334
22335 22335
22336 22336
22337 22337
22338 22338
22339 22339
22340 22340
22341 22341
22342 22342
22343 22343
22344 22344
22345 22345
22346 22346
22347 22347
22348 22348
22349 22349
22350 22350
22351 22351
22352 22352
22353 22353
22354 22354
22355 22355
22356 22356
22357 22357
22358 22358
22359 22359
22360 22360
22361 22361
22362 22362
22363 22363
22364 22364
22365 22365
22366 22366
22367 22367
22368 22368
22369 22369
22370 22370
22371 22371
22372 22372
22373 22373
22374 22374
22375 22375
22376 22376
22377 22377
22378 22378
22379 22379
22380 22380
22381 22381
22382 22382
22383 22383
22384 22384
22385 22385
22386 22386
22387 22387
22388 22388
22389 22389
22390 22390
22391 22391
22392 22392
22393 22393
22394 22394
22395 22395
22396 22396
22397 22397
22398 22398
22399 22399
22400 22400
22401 22401
22402 22402
22403 22403
22404 22404
22405 22405
22406 22406
22407 22407
22408 22408
22409 22409
22410 22410
22411 22411
22412 22412
22413 22413
22414 22414
22415 22415
22416 22416
22417 22417
22418 22418
22419 22419
22420 22420
22421 22421
22422 22422
22423 22423
22424 22424
22425 22425
22426 22426
22427 22427
22428 22428
22429 22429
22430 22430
22431 22431
22432 22432
22433 22433
22434 22434
22435 22435
22436 22436
22437 22437
22438 22438
22439 22439
22440 22440
22441 22441
22442 22442
22443 22443
22444 22444
22445 22445
22446 22446
22447 22447
22448 22448
22449 22449
22450 22450
22451 22451
22452 22452
22453 22453
22454 22454
22455 22455
22456 22456
22457 22457
22458 22458
22459 22459
22460 22460
22461 22461
22462 22462
22463 22463
22464 22464
22465 22465
22466 22466
22467 22467
22468 22468
22469 22469
22470 22470
22471 22471
22472 22472
22473 22473
22474 22474
22475 22475
22476 22476
22477 22477
22478 22478
22479 22479
22480 22480
22481 22481
22482 22482
22483 22483
22484 22484
22485 22485
22486 22486
22487 22487
22488 22488
22489 22489
22490 22490
22491 22491
22492 22492
22493 22493
22494 22494
22495 22495
22496 22496
22497 22497
22498 22498
22499 22499
22500 22500
22501 22501
22502 22502
22503 22503
22504 22504
22505 22505
22506 22506
22507 22507
22508 22508
22509 22509
22510 22510
22511 22511
22512 22512
22513 22513
22514 22514
22515 22515
22516 22516
22517 22517
22518 22518
22519 22519
22520 22520
22521 22521
22522 22522
22523 22523
22524 22524
22525 22525
22526 22526
22527 22527
22528 22528
22529 22529
22530 22530
22531 22531
22532 22532
22533 22533
22534 22534
22535 22535
22536 22536
22537 22537
22538 22538
22539 22539
22540 22540
22541 22541
22542 22542
22543 22543
22544 22544
22545 22545
22546 22546
22547 22547
22548 22548
22549 22549
22550 22550
22551 22551
22552 22552
22553 22553
22554 22554
22555 22555
22556 22556
22557 22557
22558 22558
22559 22559
22560 22560
22561 22561
22562 22562
22563 22563
22564 22564
22565 22565
22566 22566
22567 22567
22568 22568
22569 22569
22570 22570
22571 22571
22572 22572
22573 22573
22574 22574
22575 22575
22576 22576
22577 22577
22578 22578
22579 22579
22580 22580
22581 22581
22582 22582
22583 22583
22584 22584
22585 22585
22586 22586
22587 22587
22588 22588
22589 22589
22590 22590
22591 22591
22592 22592
22593 22593
22594 22594
22595 22595
22596 22596
22597 22597
22598 22598
22599 22599
22600 22600
22601 22601
22602 22602
22603 22603
22604 22604
22605 22605
22606 22606
22607 22607
22608 22608
22609 22609
22610 22610
22611 22611
22612 22612
22613 22613
22614 22614
22615 22615
22616 22616
22617 22617
22618 22618
22619 22619
22620 22620
22621 22621
22622 22622
22623 22623
22624 22624
22625 22625
22626 22626
22627 22627
22628 22628
22629 22629
22630 22630
22631 22631
22632 22632
22633 22633
22634 22634
22635 22635
22636 22636
22637 22637
22638 22638
22639 22639
22640 22640
22641 22641
22642 22642
22643 22643
22644 22644
22645 22645
22646 22646
22647 22647
22648 22648
22649 22649
22650 22650
22651 22651
22652 22652
22653 22653
22654 22654
22655 22655
22656 22656
22657 22657
22658 22658
22659 22659
22660 22660
22661 22661
22662 22662
22663 22663
22664 22664
22665 22665
22666 22666
22667 22667
22668 22668
22669 22669
22670 22670
22671 22671
22672 22672
22673 22673
22674 22674
22675 22675
22676 22676
22677 22677
22678 22678
22679 22679
22680 22680
22681 22681
22682 22682
22683 22683
22684 22684
22685 22685
22686 22686
22687 22687
22688 22688
22689 22689
22690 22690
22691 22691
22692 22692
22693 22693
22694 22694
22695 22695
22696 22696
22697 22697
22698 22698
22699 22699
22700 22700
22701 22701
22702 22702
22703 22703
22704 22704
22705 22705
22706 22706
22707 22707
22708 22708
22709 22709
22710 22710
22711 22711
22712 22712
22713 22713
22714 22714
22715 22715
22716 22716
22717 22717
22718 22718
22719 22719
22720 22720
22721 22721
22722 22722
22723 22723
22724 22724
22725 22725
22726 22726
22727 22727
22728 22728
22729 22729
22730 22730
22731 22731
22732 22732
22733 22733
22734 22734
22735 22735
22736 22736
22737 22737
22738 22738
22739 22739
22740 22740

In [29]:
df.loc[2664:2665]

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
2664,2015-02-04 10:43:00,24.408333,25.681667,798.0,1124.00,0.004860,1,4,10,43,643,44,2664,0
2665,2015-02-04 17:51:00,23.180000,27.272000,426.0,721.25,0.004793,1,4,17,51,1071,51,3092,0

In [30]:
#3092-2664 = 428 minuti = 7h e 08 minuti

#la riga 

#la riga 10807 corrisponde al giorno 10-02-15 alle 09:33
#la riga 10808 corrisponde al giorno 11-02-15 alle 14:48 (1755 minuti dopo)

#2180 = 428 + 1755

In [31]:
df.loc[10807:10808]

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
10807,2015-02-10 09:33:00,21.10,36.200000,447.000000,821.000000,0.005612,1,10,9,33,573,187,11234,0
10808,2015-02-11 14:48:00,21.76,31.133333,437.333333,1029.666667,0.005021,1,11,14,48,888,216,12989,0

# Training and test set creation

We split the dataset according to 'date' with 70%-30% for training and test.

In [32]:
df_train = df[:14392]
df_test = df[14392:]

In [33]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14392 entries, 0 to 14391
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               14392 non-null  object
 1   Temperature        14392 non-null  float64
 2   Humidity           14392 non-null  float64
 3   Light              14392 non-null  float64
 4   CO2                14392 non-null  float64
 5   HumidityRatio      14392 non-null  float64
 6   Occupancy          14392 non-null  int64
 7   day                14392 non-null  int64
 8   hour               14392 non-null  int64
 9   minute             14392 non-null  int64
 10  day_minute         14392 non-null  int64
 11  cumulative_hour    14392 non-null  int64
 12  cumulative_minute  14392 non-null  int64
 13  weekend            14392 non-null  int64
dtypes: float64(5), int64(8), object(1)
memory usage: 1.5+ MB

In [34]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6168 entries, 14392 to 20559
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               6168 non-null   object
 1   Temperature        6168 non-null   float64
 2   Humidity           6168 non-null   float64
 3   Light              6168 non-null   float64
 4   CO2                6168 non-null   float64
 5   HumidityRatio      6168 non-null   float64
 6   Occupancy          6168 non-null   int64
 7   day                6168 non-null   int64
 8   hour               6168 non-null   int64
 9   minute             6168 non-null   int64
 10  day_minute         6168 non-null   int64
 11  cumulative_hour    6168 non-null   int64
 12  cumulative_minute  6168 non-null   int64
 13  weekend            6168 non-null   int64
dtypes: float64(5), int64(8), object(1)
memory usage: 674.8+ KB

In [35]:
df_train

# from    2  - 14:19
# to      14 - 02:31

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
0,2015-02-02 14:19:00,23.7000,26.2720,585.200000,749.200000,0.004764,1,2,14,19,859,0,0,0
1,2015-02-02 14:19:59,23.7180,26.2900,578.400000,760.400000,0.004773,1,2,14,20,860,0,1,0
2,2015-02-02 14:21:00,23.7300,26.2300,572.666667,769.666667,0.004765,1,2,14,21,861,0,2,0
3,2015-02-02 14:22:00,23.7225,26.1250,493.750000,774.750000,0.004744,1,2,14,22,862,0,3,0
4,2015-02-02 14:23:00,23.7540,26.2000,488.600000,779.000000,0.004767,1,2,14,23,863,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,2015-02-14 02:26:59,19.7900,36.2000,0.000000,501.000000,0.005172,0,14,2,27,147,276,16568,1
14388,2015-02-14 02:28:00,19.7900,36.2000,0.000000,502.000000,0.005172,0,14,2,28,148,276,16569,1
14389,2015-02-14 02:29:00,19.7900,36.2675,0.000000,506.333333,0.005182,0,14,2,29,149,276,16570,1
14390,2015-02-14 02:30:00,19.7900,36.2900,0.000000,510.333333,0.005185,0,14,2,30,150,276,16571,1
14391,2015-02-14 02:31:00,19.7900,36.2900,0.000000,510.000000,0.005185,0,14,2,31,151,276,16572,1

In [36]:
df_test

# from   14 - 02:32
# to     18 - 09:19

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
14392,2015-02-14 02:31:59,19.790,36.290000,0.00,503.500000,0.005185,0,14,2,32,152,276,16573,1
14393,2015-02-14 02:32:59,19.790,36.290000,0.00,507.000000,0.005185,0,14,2,33,153,276,16574,1
14394,2015-02-14 02:34:00,19.790,36.290000,0.00,503.000000,0.005185,0,14,2,34,154,276,16575,1
14395,2015-02-14 02:35:00,19.790,36.290000,0.00,501.000000,0.005185,0,14,2,35,155,276,16576,1
14396,2015-02-14 02:36:00,19.760,36.363333,0.00,503.666667,0.005186,0,14,2,36,156,276,16577,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20555,2015-02-18 09:15:00,20.815,27.717500,429.75,1505.250000,0.004213,1,18,9,15,555,379,22736,0
20556,2015-02-18 09:16:00,20.865,27.745000,423.50,1514.500000,0.004230,1,18,9,16,556,379,22737,0
20557,2015-02-18 09:16:59,20.890,27.745000,423.50,1521.500000,0.004237,1,18,9,17,557,379,22738,0
20558,2015-02-18 09:17:59,20.890,28.022500,418.75,1632.000000,0.004279,1,18,9,18,558,379,22739,0
20559,2015-02-18 09:19:00,21.000,28.100000,409.00,1864.000000,0.004321,1,18,9,19,559,379,22740,0

In [37]:
#df_train.to_csv("training.csv")
#df_test.to_csv("test.csv")
#df.to_csv('dataset.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20560 entries, 0 to 20559
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               20560 non-null  object
 1   Temperature        20560 non-null  float64
 2   Humidity           20560 non-null  float64
 3   Light              20560 non-null  float64
 4   CO2                20560 non-null  float64
 5   HumidityRatio      20560 non-null  float64
 6   Occupancy          20560 non-null  int64
 7   day                20560 non-null  int64
 8   hour               20560 non-null  int64
 9   minute             20560 non-null  int64
 10  day_minute         20560 non-null  int64
 11  cumulative_hour    20560 non-null  int64
 12  cumulative_minute  20560 non-null  int64
 13  weekend            20560 non-null  int64
dtypes: float64(5), int64(8), object(1)
memory usage: 2.2+ MB

In [39]:
df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,day,hour,minute,day_minute,cumulative_hour,cumulative_minute,weekend
0,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,2,14,19,859,0,0,0
1,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,2,14,20,860,0,1,0
2,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,2,14,21,861,0,2,0
3,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,2,14,22,862,0,3,0
4,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,2,14,23,863,0,4,0